@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  background-color: #d3c0af;
} */

.aboutUs-container {
  font-family: "Roboto";
  color: #1e2d32;
  background-color: #ca9954;
}
.aboutUs-p {
  padding: 20px;
}
.aboutUs-titulo {
  font-family: "Arima Madurai", cursive;
  color: black;
  font-size: 4rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
}

.aboutUs-white-background {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding: 0.5rem;
  background-color: #d3c0af;
  color: #1e2d32;
  padding: 20px;
}

.aboutUs-img-container {
  position: relative;
}
.aboutUs-floatleft {
  float: left;
  border-radius: 10%;
}
.aboutUs-floatrigth {
  float: right;
  border-radius: 10%;
}
.aboutUs-texto-resaltado {
  font-size: large;
  font-weight: bold;
}



@media screen and (min-width: 1000px) {
  .aboutUs-floatleft {
    float: left;
    border-radius: 10%;
    height: 250px;
    width: 250px;
  }
  .aboutUs-floatrigth {
    float: right;
    border-radius: 10%;
    height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 500px) {

  .aboutUs-white-background {
    display: block;
  }
  .aboutUs-white-background p {
    border-bottom: 4px solid #1e2d32;
    border-radius: 10%;
    padding: 10px;
    box-shadow: 2px 2px 5px  #1e2d32;
   margin-left: 2px;
  }
}
